<%= render partial: "user_group/shared/header" %>

<% allowed_edit = user_signed_in? && ( current_user.id == @user.id || current_user.is_admin? ) %>
<div><%= link_to_if(user_signed_in?, (t :'user_groups.views.shared.users'), user_group.users_path){} %></div>

<h2 class="no_bottom_margin"><%= @user.first_name %> <%= @user.second_name %></h2>
<br />
<%= render partial: "user_group/users/partials/image", locals:{ user: @user, size: "180x100"} %>
<div class="tab"><%= @user.email %></div>

<%= render partial: "user_group/shared/updated_at", locals:{ object: @user} %>

<div><%= (t :'user_groups.views.shared.admin') if @user.is_admin? %></div>
<div><%= (t :'user_groups.views.users.show.registered') unless @user.is_admin? %></div>

<%= (t :'user_groups.views.shared.locale')+':' %>
<%= @user.locale == 'en' ? t('dri.application.lang.en') : t('dri.application.lang.ga') %>
<br />

<div>
<%= (t :'user_groups.views.shared.view_profile') %>
<% if @user.get_view_level == 'public' %>
    <%= t('user_groups.views.shared.public')  %>
<% elsif @user.get_view_level == 'private' %>
    <%= t('user_groups.views.shared.private') %>
<% else %>
    <%= t('user_groups.views.shared.registered') %>
<% end %>
</div>

<div><h4><%= (t :'user_groups.views.shared.about_me')  %></h4>
<%=simple_format @user.about_me %></div>
<br />

<% if user_signed_in? && current_user.id == @user.id  %>
<div><%=  (t :'user_groups.views.shared.token')  %><br />
    <% if @user.authentication_token.blank? %>
        <%= t('user_groups.views.shared.token_empty') %>
    <% else %>
        <%= @user.authentication_token %>

        <p><%= t :'user_groups.views.users.show.token_sign_in' %><br />
        <%= link_to request.env["HTTP_HOST"] + "#{root_path(:user_token => @user.authentication_token, :user_email => @user.email)}", root_path(:user_token => @user.authentication_token, :user_email => @user.email)  %></p>

        <% if SETTING_PROFILE_TOKEN_EXPIRY_DAYS == 0 %>
            <% expiry_date = t :'user_groups.views.users.show.never' %>
        <% elsif @user.token_expired? %>
            <% expiry_date = t :'user_groups.views.users.show.expired' %>
        <% else %>
            <% expiry_date = (@user.token_creation_date.to_date+SETTING_PROFILE_TOKEN_EXPIRY_DAYS).to_s %>
        <% end %>
        <%= (t :'user_groups.views.users.show.expiry') %><%= expiry_date %><br />
        <%= (t :'user_groups.views.shared.created') %><%= @user.token_creation_date.to_s %><br />
    <% end %>
</div>
<% end %>

<%#= user.user_signed_in? %>
<%# https://groups.google.com/forum/?fromgroups=#!topic/plataformatec-devise/tOKU_jcWNp0 %>
<%= link_to_if(allowed_edit, (t :'user_groups.views.shared.edit'), user_group.edit_user_path(@user), :id => "edit_account" ){} %><br />

<h3 class="no_bottom_margin"><%= (t :'user_groups.views.users.show.sessions') %></h3>
<%= (t :'user_groups.views.users.show.total_sign_in') %> <%=@user.sign_in_count %><br />

<h4><%= (t :'user_groups.views.users.show.last_sign_in') %></h4>
<%= (t :'user_groups.views.users.show.time') %>
<%= @user.current_sign_in_at %><br />
<%= (t :'user_groups.views.users.show.ip') %>
<%= @user.current_sign_in_ip %>

<%= render partial: "user_group/users/partials/group_table", locals: {user: @user, allowed_edit: allowed_edit} %>
