<%= render :partial => "devise/shared/header" %>
<h2><%= t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions') %></h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, (t :'user_groups.views.shared.email') %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions') %></div>
<% end %>

