/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Menu */
#menu-wrapper{
  clear: both;
  padding-bottom: 2.5em;
  margin:auto;
  margin-bottom: 50px;
  background: #C0C0C0;
  /*Doesnt center...*/
  text-align: center;
}

#menu-wrapper ul{
  list-style: none;
  padding: 0;
  margin: auto;
}

#menu-wrapper-left li{
  clear: both;
  height: 2em;
  display: inline;
}

#menu-wrapper-left li a{
  float:left;
  padding:5px;
}
/*End Left*/

#menu-wrapper-right li:hover ul, li.over ul{
  display: block;
}

#menu-wrapper-right{
  float:right;
}

#menu-wrapper-right li ul{
  display:none;
  background: silver;
}

#menu-wrapper-right ul li{
  text-align: right;
}

#menu-wrapper-right-name{
  font-weight: bold;
}
#menu-wrapper-right-email{
  text-decoration:underline;
}
/*End Right*/

.index-element{
  margin-bottom: 15px;
  display: block;
  margin-left: 40%;
  text-align: left;
  width: auto;
  float:left;
  clear: both;
  border:0px;
  border-bottom:5px solid gray;
  border-style: outset;
}

.clear{
  clear: both;
}

.tab{
  margin-left: 15px;
}

.no_bottom_margin{
  margin-bottom:0px !important;
}

.inline form{
  display:inline;
}

.inline div{
  display:inline;
}
.inline{
  display:inline;
}

.table{
  margin:auto;
}

body{
}

.alert{
    color: green;
}

.alert-error, .alert-alert {
  color: red !important;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline-block;
}

.error_explanation {
  padding: 7px;
  padding-bottom: 0;
  border-bottom: 1px solid red;
  display:inline-block;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
    }
}

.error_messages li{
  display:block;
}
