<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('user_groups.mailers.approved.header') %></h1>
    <%= t('user_groups.mailers.approved.body', :user => @user.first_name, :link => link_to(@collection, catalog_url(@group.name))).html_safe %>
  </body>
</html>
