<%= render :partial => "devise/shared/header" %>
<h2><%= t('.resend_unlock_instructions', :default => "Resend unlock instructions") %></h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, (t :'user_groups.views.shared.email') %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit t('.resend_unlock_instructions', :default => "Resend unlock instructions") %></div>
<% end %>

<%= render "devise/shared/links" %>
