 <br /> <br /> <br />

 <p>You have successfully added the user_group gem to your application.
   The gem will allow you to easily manage users and groups, for the dri
   project, or possibly for other similar projects.</p>

 <p>This page lists the routes available to your application. Remember to
   prefix them with the user_groups namespace.</p>

 <p>You should override this page in your application by creating a file
   app/views/user_group/static/_intro_page.html.erb</p>

 <b>Static</b><br />
<%= link_to "root_path",root_path %> <br />
<%= link_to "help_path",help_path %> <br />
<%= link_to "home_path",home_path %> <br />
<%= link_to "admin_path", admin_path %> <br />

<b>Devise</b><br />
<%= link_to "new_user_session_path", new_user_session_path %> <br />
<%= link_to "user_session_path", user_session_path, method: "post" %> <br />
<%= link_to "destroy_user_session_path", destroy_user_session_path, method: "delete" %> <br />
<%= link_to "user_password_path", user_password_path, method: "post" %> <br />
<%= link_to "new_user_password_path", new_user_password_path %> <br />
<%= link_to "edit_user_password_path", edit_user_password_path %> <br />

<b>Users</b><br />
<%= link_to "new_user_path", new_user_path %> <br />
<%= link_to "Users", user_group.users_path %> <br />
<%= link_to "Current User", user_path(current_user) if signed_in? %> <br />
<%= link_to "Current User Edit", edit_user_path(current_user) if signed_in? %> <br />

<b>Groups</b><br />
<%= link_to "new_group_path", new_group_path %> <br />
<%= link_to "Groups", groups_path %> <br />
<% g = UserGroup::Group.first %>
<%= link_to "Group", group_path(g) if !g.nil? %> <br />
<%= link_to "Group Edit", edit_group_path(g) if !g.nil? %> <br />
