<%= render :partial => "user_group/shared/header" %>

<h1><%= t('user_groups.views.static_pages.title') %></h1>

<% if signed_in? %>
    <p> <%= "#{t('user_groups.views.static_pages.logged_in')} #{current_user.email}"  %></p>
<% else %>
    <%= link_to (t :'user_groups.views.shared.sign_in'), new_user_session_path %>
    <%= link_to (t :'user_groups.views.shared.register'), new_user_path %>

<% end %>

<%= render 'intro_page' %>

