<% membership = group.memberships.find_by_user_id(user.id) %>
<tr>
    <td><%= link_to group.name.capitalize, groups_path %></td>
    <% if membership.approved? %>
        <td><%= membership.updated_at %></td>
    <% else %>
        <td><%= (t :'user_groups.views.shared.pending') %></td>
    <% end %>

    <td><%= (render partial: 'user_group/shared/leave_group_button', locals: {user: user, group: group}) if allowed_edit %></td>
</tr>