<%# This file must figure out how to display a user profile
    Users have previously selected if they want to provide a url or gravatar name to their image.
    (If url it gets checked with fastimage to check validity before being saved)
    
    Concern: security issues? Javascript injection? what is a valid url etc
%>
<% unless user.image_link.nil? or user.image_link.blank? %>
    <% if user.image_link == SETTING_PROFILE_GRAVATAR_ID %>
        <% url = Gravatar.new(user.email).image_url %>
    <% elsif user.image_link.include?("http") || user.image_link.include?("www") %>
        <% url = user.image_link %>
    <% else %>
        <% url = SETTING_PROFILE_DEFAULT_PHOTO %>
    <% end %>

    <%= image_tag(url, :alt => (t :'user_groups.views.users.photo.alt_text'), :size => size, :class => "profile_image") %>
<% end %>