<%= render :partial => "devise/shared/header" %>
<h2><%= t('.forgot_your_password', :default => 'Forgot your password?') %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, (t :'user_groups.views.shared.email') %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit t('.send_me_reset_password_instructions', :default => "Send me reset password instructions") %></div>
<% end %>

<%= render "devise/shared/links" %>
