<%= render partial: "user_group/shared/header" %>

<%= form_for(@group) do |f| %>
    <div><%= link_to (t :'user_groups.views.shared.back'), @group %></div><br />

    <%= render partial: 'user_group/shared/error_messages', locals: {object: f.object} %>
    <% if @group.is_locked %>
        <h2 class="no_bottom_margin"><%= @group.name.capitalize %></h2>
        <%= render partial: "locked_link", locals: {group: @group}  %>
    <% else %>
        <div><%= f.label :name, (t :'user_groups.views.shared.name')%><br />
        <%= f.text_field :name , value: @group.name.capitalize %></div>

        <div><%= f.label :description, (t :'user_groups.views.shared.description') %><br />
        <%= f.text_field :description %></div>

        <div><%= f.submit (t :'user_groups.views.groups.edit.update') %></div>
        <br />
        <%= link_to (t :'user_groups.views.groups.edit.lock'),lock_group_path(@group), method: :put, confirm: (t :'user_groups.views.groups.edit.lock_confirm') %>
    <% end %>
<% end %>

<%= render partial: "delete_link", locals: {group: @group} %>

<br />



<h3><%= (t :'user_groups.views.shared.group_membership') %></h3>
<% #Rendering the other way does odd things %>
<h4 class="no_bottom_margin"><%= (t :'user_groups.views.shared.remove') %></h4>
<%= render partial: 'user_group/shared/leave_groups', locals: {object: @group} %>
<h4 class="no_bottom_margin"><%= (t :'user_groups.views.shared.pending') %></h4>
<%= render partial: 'user_group/shared/pending_groups', locals: {object: @group} %>
<h4 class="no_bottom_margin"><%= (t :'user_groups.views.shared.add') %></h4>
<%= render partial: 'user_group/shared/join_groups', locals: {object: @group} %>


