<%= render partial: "user_group/shared/header" %>

<div><%= link_to (t :'user_groups.views.shared.groups'), groups_path %></div>
<h2 class="no_bottom_margin"><%= @group.name.capitalize %></h2>
<div class="tab"><%= @group.description %></div>

<%= render partial: "user_group/shared/updated_at", locals:{ object: @group} %>

<div class="clear"></div>
<br />
<%= link_to (t :'user_groups.views.groups.show.edit'), edit_group_path %>
<br />

<%= render partial: "user_table", locals: {group: @group} %>