<%= render :partial => "devise/shared/header" %>
<h2><%= t('.sign_in', :default => "Sign in") %></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, (t :'user_groups.views.shared.email') %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password, (t :'user_groups.views.shared.password') %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, (t :'user_groups.views.sign_in.remember_me') %></div>
  <% end -%>

  <div>
  <% if cookies[:accept_cookies] %>
    <%= f.submit t('.sign_in', :default => "Sign in") %>
  <% else %>  
    <%= f.submit t('.sign_in', :default => "Sign in"), :confirm => "#{ t('dri.application.cookies.confirm') }" %>
  <% end %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
