<h2> <%= (t :'user_groups.views.groups.index.groups') %>(<%= @groups.total_count %>)</h2> 
<%= paginate @groups %>
<br />
<% #This should be moved to partial? %>
<% for group in @groups %>
    <div class="index-element">
        <b> <%= group.name.capitalize %> </b>
        <% if current_user.member?(group.id) %>
            | 
            <%= (t :'user_groups.views.groups.index.member') %>
            <%#= render partial: 'user_group/shared/leave_group_button', locals: {user: current_user, group: group} %>
        <% elsif current_user.pending_member?(group.id) %>
            | 
            <%= (t :'user_groups.views.groups.index.pending') %>
            <%#= render partial: 'user_group/shared/leave_group_button', locals: {user: current_user, group: group} %>
        <% else %>
            <% unless group.name == SETTING_GROUP_ADMIN %>
            | 
            <div class="inline">
                <%= form_for(group.memberships.build, url: { controller: :memberships, action: :pending}) do |f| %>
                    <%= render partial: 'user_group/shared/error_messages', locals: {object: f.object} %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :group_id , value: group.id %>
                    <%= f.submit t :'user_groups.views.groups.index.apply' %>
                <% end %>
             </div>
            <% end %>
        <% end %>
        <p><%= group.description %></p>
        
        <% unless group.name == SETTING_GROUP_ADMIN or group.name == SETTING_GROUP_DEFAULT %>
            <i><%= (t :'user_groups.views.groups.index.members') %></i> <%= group.full_memberships.count %>
        <% end %>
    </div>
<% end %>
