<%
    messages = object.errors.full_messages.map { |msg| content_tag(:li, msg) }.join
    sentence = I18n.t("errors.messages.not_saved",
                      :count => object.errors.count,
                      :resource => object.class.model_name.human.downcase)

   errortext = sentence + "<ul>#{messages}</ul>"

   flash.now[:error] = errortext.html_safe unless messages.empty?
%>