  <%= stylesheet_link_tag    "user_group/application", :media => "all" %>

    <div id="menu-wrapper">
      <div id="menu-wrapper-left">
        <ul>
          <li><%= link_to (t :'user_groups.views.header.home'), main_app.root_path %></li>
          <li><%= link_to (t :'user_groups.views.header.help'), user_group.help_path %></li>
          <% if signed_in? %>
            <li><%= link_to (t :'user_groups.views.shared.groups'), user_group.groups_path %></li>
            <% if current_user.is_admin? %>
              <li><%= link_to (t :'user_groups.views.shared.users'), user_group.users_path %></li>
              <li><%= link_to (t :'user_groups.views.header.admin'), user_group.admin_path %></li>
            <% end %>
          <% else %>
            <li><%= link_to (t :'user_groups.views.shared.sign_in'), user_group.new_user_session_path %></li>
            <li><%= link_to (t :'user_groups.views.shared.register'), user_group.new_user_path %></li>

          <% end %>
        </ul>
      </div>

        <% if signed_in? %>
          <div id="menu-wrapper-right">
            <ul>
              <li>
                <span id="menu-wrapper-right-name">
                  <%= current_user.full_name %>
                </span>
                (<span id="menu-wrapper-right-email"><%= current_user.email %></span>)
                <ul>
                  <li>
                    <%= link_to (t :'user_groups.views.header.account'), current_user %>
                  </li>
                  <li>
                    <%= link_to (t :'user_groups.views.header.signout'), destroy_user_session_path, method: "delete" %>
                  </li>
                </ul>
              </li>
            </ul>
        </div>
      <% end %>
    </div>