<%= form_for(object.memberships.build, url: memberships_path) do |f| %>
    <%= render 'user_group/shared/error_messages', object: f.object %>
    <% if object.is_a?(UserGroup::Group) %>
        <%= f.hidden_field :group_id %>
        <div><%= f.label :user_id, (t :'user_groups.views.partials.join_group.user') %><br />
        <%= f.text_field :user_id %></div>
    <% elsif object.is_a?(UserGroup::User) %>
        <%= f.hidden_field :user_id %>
        <div><%= f.label :group_id, (t :'user_groups.views.partials.join_group.group') %><br />
        <%= f.text_field :group_id %></div>
    <% end %>
    <div><%= f.submit t :'user_groups.views.partials.join_group.join' %></div>
<% end %>