<% unless group.name == SETTING_GROUP_DEFAULT %>
    <%= button_to t( :'user_groups.views.users.show.leave'), membership_path(membership:{user_id: user.id, group_id: group.id}), method: :delete, confirm: t( :'user_groups.views.shared.confirm') %>
<% end %>
