<%= link_to (t :'user_groups.views.shared.add_user'), new_user_path %>
<h2> <%= (t :'user_groups.views.users.index.all_users') %> (<%= @users.total_count %>)</h2>

<br />
<%= render :partial => 'by_letter' %>
<br />

<%= paginate @users %>
<br />
<% for user in @users %>
    <div class="index-element">
        <% user.full_name.strip.length == 0 ? link = "User" : link = "" %>
        <%= link_to link.to_s+user.full_name, user %>
        <div>
            <%= render partial: "user_group/users/partials/image", locals:{ user: user, size: "64x64"} %>
        </div>
        <div>
            <p> <%= user.email %></p>
            <% if user.is_admin? %>
            <p style="color:green"><%= (t :'user_groups.views.shared.admin') %></p>
            <% end %>
            <%= link_to (t :'user_groups.views.shared.delete'), user, method: :delete, confirm: (t :'user_groups.views.shared.confirm') %>
        </div>
    </div>
<% end %>
